.nav-bar {
    display: flex;
    background-color: silver;
}

.site-name{
    padding: 10px 30px;
    color: brown;
    font-weight: bold;
}

.site-menu {
    padding: 10px 30px;
    margin-left: 360px;
}

a{
    text-decoration: none;
    margin: 0px 10px;
}
