.search-label{
    font-weight: bold;
}

.wrapper {
    margin: 10px 0px;
}

.search-input{
    margin: 10px 5px 0px 10px;
    width: 300px;
}

.search-div {
    text-align: center;
    margin: 10px 0px;
}

.search-text {
    text-align: center;
    margin: 10px 0px;
}

.filter-status{
    margin: 10px 0px;
    text-align: center;
}

option {
    width: 100px;
}

.search-button {
    padding: 0px;
    height: 30px;
    width: 30px;
}